@page "/"
@inject HttpClient Http;
@inject IHttpClientFactory ClientFactory;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (usernames.Count == 0) {
    <p>Загрузка пользователей...</p>
} else {
    <ul>
        @foreach(var name in usernames) {
            <li>@name</li>
        }
    </ul>
}

@code {
    public List<string> usernames = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = ClientFactory.CreateClient("API");
            var users = await client.GetFromJsonAsync<List<UserDto>>("users");

            if (users != null)
            {
                usernames = users.Select(u => u.UserName).ToList();
            }
        }
        catch (Exception ex)
        {
            usernames.Add($"Ошибка: {ex.Message}");
        }
    }

    public class UserDto
    {
        public Guid Id { get; set; }
        public string UserName { get; set; } = string.Empty;
    }
}
