@page "/"
@inject HttpClient Http;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if(_languages == null) {
    <p>Загрузка языков...</p>
} else {
    @foreach (var language in _languages) {
        <LanguageCard Language="@language" />
    }
}

@code {
    private IList<LanguageDto>? _languages;

    protected override async Task OnInitializedAsync()
    {
        try {
            _languages = await Http.GetFromJsonAsync<IList<LanguageDto>>("api/languages");
        }
        catch (HttpRequestException ex) {
            Console.WriteLine($"Ошибка проблемы загрузки языка: {ex.Message}");
        }
    }
}